*{
    margin: 0px;
    padding:0px;
}

.container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(63, 62, 62);
    align-items: center;
    padding:15px;
}

.logo-img{
    width: 120px;
    
} 


.menu{
    display: flex;
    list-style: none;
}
 
.item{
    margin: 0px 15px;
    cursor: pointer;
    color: rgb(224, 45, 45);
    font-weight: bold;
    text-transform: uppercase;
    
}


