.box{
    background-color: rebeccapurple;
    color:aliceblue;
    padding:10px;
    margin-bottom: 10px;
}

.git{
    background-color: rebeccapurple;
    color:aliceblue;
    padding:10px;
    margin-bottom: 10px; 
}